header {
    padding: 0 10px;
    background-color: lightblue;
}

header div {
    display: inline-block;
}

header img {
    width: 50px;
    vertical-align: middle;
    padding-bottom: 15px;
}

footer {
    color: #000000;
    background: linear-gradient(#a4aaab, #e4e4e4);
    padding: 5px;
    margin-top: 10px;
    border-top: 1px solid #000000;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

body {
    margin: 0;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

article {
    display: none;
    overflow-x: scroll;
    padding: 10px 15px;
}
article:target {
    display: block;
}
